<html>
	<head>
    	<title>Server's Status Page</title>
	
    	<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta http-equiv="Content-Language" content="es">
	
    	<link href="status.css" rel="stylesheet" >
	</head>
	<body>
		<div class="main">
			<div class="titulo">Serv Checker</div>
  			{{#each hosts}}
  				<div class="host" style="background-color:{{#if isonline}}green{{else}}red{{/if}}">
					<div class="hostinfo1"><span style="font-size:16px">{{name}}</span> <span style="font-size:12px;">Last Check: {{lastcheck}}</span></div>
					<div class="hostinfo2"><span style="font-size:12px;">{{host}}</span></div>
					{{#if offlinedate}}<div class="hostinfo2"><span style="font-size:12px;">Offline date: {{offlinedate}}</span></div>{{/if}}
				 </div>
  			{{/each}}
		</div>
	</body>
</html>
